services:
  perjalanan-app:
    build: .
    container_name: perjalanan_app
    volumes:
      - static_volume:/app/staticfiles
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: perjalanan_nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/static
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - perjalanan-app
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    container_name: perjalanan_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

volumes:
  static_volume:
  postgres_data:

networks:
  app-network:
    driver: bridge
